/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Macondo&display=swap');

:root {
    --primary-font: "Inter", sans-serif;
    --secondary-font: "Macondo", cursive;
    --primary-color: #416a8e; /* blue */
    --secondary-color: #aa9581; 
    --highlight-color: #416a8e; 
    --light-highlight-color: #7a9fc2; 
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Global styles */


body {
    font-family: var(--primary-font);    
}

h1,
h2,
h3 {
    font-family: var(--secondary-font);
    color: var(--primary-color);
    text-transform: uppercase;
}

.sub-heading-color {
    color: var(--highlight-color);
}

.section {
    margin-top: 2rem;
    margin-bottom: 2rem;
   
}

/* Navbar */
#navbar {
    background-color: var(--primary-color);
}

#navbar .logo {
    width: 30px;
}

/* Header */
#header .lead {
    font-family: var(--secondary-font);
}